---
import Terminal from "@components/Terminal.astro"
import Tabs from "@components/Tabs.astro"
import { Code } from "astro/components"
import CommunityCTA from "./CommunityCTA.astro"
import Examples from "./Examples.astro"

export interface Props {
  latestVersion: string
}

const { latestVersion } = Astro.props
---

<div class="prose dark:prose-invert">
  <h2 class="text-3xl mt-24">
    <small class="block font-mono text-xs text-gray-500">1/2</small>Launch a
    Provider &amp; Install DDEV
  </h2>

  <Tabs order={["Gitpod", "GitHub Codespaces"]}>
    <Fragment slot="Gitpod">
      <div class="prose pt-5 dark:prose-invert">
        <p>
          <a href="https://www.gitpod.io/docs/getting-started" target="_blank"
          >Open any repository</a
          > using Gitpod and install DDEV:
        </p>
        <Terminal
          code={`→ curl -fsSL https://pkg.ddev.com/apt/gpg.key | gpg --dearmor | sudo tee /etc/apt/keyrings/ddev.gpg > /dev/null\n→ echo "deb [signed-by=/etc/apt/keyrings/ddev.gpg] https://pkg.ddev.com/apt/ * *" | sudo tee /etc/apt/sources.list.d/ddev.list >/dev/null\n→ sudo apt-get update && sudo apt-get install -y ddev
`}
        />
      </div>
      <a href="https://gitpod.io/#https://github.com/ddev/ddev"
        target="_blank"
        ><img
          src="/img/open-in-gitpod.svg"
          alt="Open in Gitpod"
          class="drop-shadow-sm pb-4 my-4"
        />
      </a>
    </Fragment>
    <Fragment slot="GitHub Codespaces">
      <div class="prose py-5 dark:prose-invert">
        <ol>
          <li>
            <a href="https://github.com/codespaces/new"
              target="_blank"
              >Create a new codespace</a
            > for your project or open an existing one.
          </li>
          <li>
            Edit the project’s <code>.devcontainer/devcontainer.json</code> file:
            <Code
              code={`{
    "image": "mcr.microsoft.com/devcontainers/universal:2",
    "features": {
        "ghcr.io/ddev/ddev/install-ddev:latest": {}
    }
}
`}
              theme="nord"
              lang="json"
            />
          </li>
          <li>
            Save the file and rebuild the container by running VS Code’s
            “Codespaces: Rebuild Container” action. (<kbd>⌘</kbd> + <kbd
              >SHIFT</kbd
            > + <kbd>P</kbd> on a Mac or <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd
              >P</kbd
            > on Windows, then search for “rebuild”.)
          </li>
        </ol>
      </div>
      <a
        href="https://github.com/codespaces/new/ddev/ddev"
        target="_blank"
        ><img
          src="https://github.com/codespaces/badge.svg"
          alt="Open in GitHub Codespaces"
          class="pb-4 my-4"
        />
      </a>
    </Fragment>
  </Tabs>

  <p>Confirm that you’ve now got DDEV installed: 🎉</p>
  <Terminal code={`→ ddev -v\nddev version ${latestVersion}`} />
  
  <p>
    Or use the <a href="https://ddev.github.io/ddev-gitpod-launcher/" target="_blank">ddev-gitpod-launcher</a> form to launch a repository.
    You’ll provide a source repository and click a button to open a newly-established environment.
    You can specify a companion artifacts repository and automatically load <code>db.sql.gz</code> and <code>files.tgz</code> from it.
    (More details in the <a href="https://github.com/ddev/ddev-gitpod-launcher/blob/main/README.md" target="_blank">repository’s README</a>.)
  </p>
</div>

<Examples itemNumber="2/2" terminalType="default" terminalSymbol="→" />

<div class="prose dark:prose-invert">
  <CommunityCTA />
</div>
