---
import Terminal from "@components/Terminal.astro"
import { Tabs } from "astro-tabs"
import { Code } from "astro/components"
import CommunityCTA from "./CommunityCTA.astro"

export interface Props {
  latestVersion: string
  codeTheme: string
}

const { latestVersion, codeTheme } = Astro.props
---

<div class="prose">
  <h2 class="text-3xl mt-24">Launch with a Provider</h2>

  <Tabs class="-mx-4 mb-6" style="max-width: 41.5rem;">
    <Fragment slot="tab-1">Gitpod</Fragment>
    <Fragment slot="tab-2">GitHub Codespaces</Fragment>
    <Fragment slot="panel-1">
      <div class="prose pt-5">
        <p>
          <a href="https://www.gitpod.io/docs/getting-started" target="_blank"
            >Open any repository</a
          > using Gitpod and install DDEV:
        </p>
        <Terminal code={`→ brew install drud/ddev/ddev`} />
      </div>
      <a href="https://gitpod.io/#https://github.com/drud/ddev"
        ><img
          src="/img/open-in-gitpod.svg"
          alt="Open in Gitpod"
          class="drop-shadow-sm mb-4"
        />
      </a>
    </Fragment>
    <Fragment slot="panel-2">
      <div class="prose py-5">
        <ol>
          <li>
            <a href="https://github.com/codespaces/new"
              >Create a new codespace</a
            > for your project or open an existing one.
          </li>
          <li>
            Edit the project’s <code>.devcontainer/devcontainer.json</code> file
            to include these two lines in the “features” section:
            <Code
              code={`"features": {\n    "ghcr.io/devcontainers/features/docker-in-docker:1": {},\n    "ghcr.io/drud/ddev/install-ddev:latest": {}\n},`}
              lang="json"
            />
          </li>
          <li>
            Save the file and rebuild the container by running VS Code’s
            “Codespaces: Rebuild Container” action. (<kbd>⌘</kbd> + <kbd
              >SHIFT</kbd
            > + <kbd>P</kbd> on a Mac or <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd
              >P</kbd
            > on Windows, then search for “rebuild”.)
          </li>
        </ol>
      </div>
      <a
        href="https://github.com/codespaces/new?hide_repo_select=true&ref=20221220_codespaces&repo=80927419&machine=basicLinux32gb&location=WestUs2"
        ><img
          src="https://github.com/codespaces/badge.svg"
          alt="Open in GitHub Codespaces"
          class="mb-4"
        />
      </a>
    </Fragment>
  </Tabs>

  <p>Confirm that you’ve now got DDEV installed: 🎉</p>
  <Terminal code={`→ ddev -v\nddev version ${latestVersion}`} />
</div>

<div class="prose">
  <h2 class="text-3xl mt-24">Explore & Enjoy!</h2>

  <p>
    Take a peek at your project’s new <code>.ddev/</code> directory. You can add
    this to your repo to share your DDEV config, edit <code
      >.ddev/ddev.yaml</code
    > to change <a
      href="https://ddev.readthedocs.io/en/latest/users/configuration/config/"
      target="_blank">project options</a
    >, or even go about your business and pretend this folder doesn’t exist.
  </p>

  <p>
    Run the <a
      href="https://ddev.readthedocs.io/en/latest/users/usage/commands/#help"
      target="_blank"
      >help command
    </a> (or plain <code>ddev</code>) to see the actions you can take with the
    CLI:
  </p>

  <Terminal code={`→ ddev -h`} />

  <p>
    Use the <a
      href="https://ddev.readthedocs.io/en/latest/users/usage/commands/#describe"
      target="_blank"
      >describe command
    </a> to see a project’s parts and database connection details:
  </p>

  <Terminal code={`→ ddev describe`} />

  <CommunityCTA />
</div>
