<div class="bg-gray-200 p-8 rounded-lg mt-36">
  <h2 class="mt-0">Join the DDEV Community</h2>
  <p class="mb-0">
    DDEV is an open source project with a growing community, and there are lots
    of ways to <a href="/support-ddev">get involved</a>!
  </p>
</div>
