---
import Terminal from "@components/Terminal.astro"
import CommunityCTA from "./CommunityCTA.astro"
import Examples from "./Examples.astro"

export interface Props {
  latestVersion: string
}

const { latestVersion } = Astro.props
---

<div class="prose dark:prose-invert">
  <p class="text-gray-600 mb-16 dark:text-slate-400">
    We’ll use WSL2 with Docker-CE since it’s the fastest and most
    straightforward of <a
      href="https://ddev.readthedocs.io/en/stable/users/install/docker-installation/#windows"
      target="_blank"
      >several options</a
    >.
  </p>

  <h2 class="text-3xl mt-24">
    <small class="block font-mono text-xs text-gray-500">1/3</small>Install WSL2
    with Ubuntu
  </h2>

  <p>Run the following in PowerShell terminal:</p>

  <Terminal type="powershell" code={`> wsl --install`} />

  <p>You’ll probably need to reboot.</p>

  <p>After reboot, install an Ubuntu distro:

  <Terminal type="powershell" code={`> wsl --install Ubuntu --name DDEV`} />
  
  <p>Verify that you now have an Ubuntu distro set as default:</p>

  <Terminal
    type="powershell"
    code={`> wsl -l -v\n  NAME                   STATE           VERSION\n* DDEV                   Stopped         2`}
  />
</div>

<div class="prose dark:prose-invert">
  <h2 class="text-3xl mt-24">
    <small class="block font-mono text-xs text-gray-500">2/3</small>  
    Run the Installer
  </h2>

  <p>Download the latest `ddev-windows-installer.exe` from <a href="https://github.com/ddev/ddev/releases">DDEV Releases</a>, and run it selecting the preferred "Docker CE" approach and selecting your "DDEV" distro.</p>

  <p>
    In the “DDEV” terminal app or Windows Terminal, confirm that the "ddev" binary is
    installed: 🎉
  </p>
  <Terminal
    type="powershell-ubuntu"
    code={`$ ddev --version\nddev version ${latestVersion}`}
  />
</div>

<Examples itemNumber="3/3" terminalType="powershell-ubuntu" terminalSymbol="$" />

<div class="prose dark:prose-invert">
  <p></p>

  <p>
    To <a href="https://ddev.readthedocs.io/en/stable/users/usage/uninstall/" target="_blank">uninstall</a> DDEV, first clean up its Docker bits and delete its files from
    your system:
  </p>

  <Terminal
    type="powershell-ubuntu"
    code={`$ ddev clean --all\n$ ddev hostname --remove-inactive\n$ rm -r ~/.ddev`}
  />

  <p>
    Remove the <code>ddev</code> binary from the WSL2 distro:
  </p>

  <Terminal type="powershell-ubuntu" code={`$ sudo apt-get remove ddev ddev-wsl2`} />

  <p>
    Lastly, remove DDEV from Windows by visiting <i>Add or remove programs</i>,
    finding “DDEV”, and choosing <i>Uninstall</i>. If you do not need the "ddev" distro, you can also remove it by running `wsl --unregister ddev`.
  </p>

  <CommunityCTA />
</div>
