---
import { getCollection } from "astro:content"
import Layout from "../../../layouts/Layout.astro"
import Heading from "../../../components/Heading.astro"

const authors = await getCollection("authors")
const posts = await getCollection("blog")

const authorsWithCounts = authors
  .map((author) => ({
    author,
    count: posts.filter((post) => post.data.author === author.data.name).length,
  }))
  .filter(({ count }) => count > 0)
  .sort((a, b) => a.author.data.name.localeCompare(b.author.data.name))
---

<Layout title="Blog Authors" description="Index of DDEV blog authors.">
  <main class="max-w-4xl mx-auto">
    <Heading title="Blog Authors" />
    <div class="mt-12 mb-24 px-6 lg:px-0 columns-1 sm:columns-2 lg:columns-3 gap-x-8">
      {
        authorsWithCounts.map(({ author, count }) => (
          <div class="mb-4 break-inside-avoid dark:text-white">
            <a href={`/blog/author/${author.id}`} class="hover:underline">{author.data.name}</a>
            <span class="text-sm text-gray-500 dark:text-gray-400 ml-1">
              ({count})
            </span>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
