---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import Heading from "../../components/Heading.astro"

const authors = await getCollection("authors")
const posts = await getCollection("blog")

// Filter out authors without any posts
const activeAuthors = authors.filter((author) => {
  const authorPosts = posts.filter(
    (post) => post.data.author === author.data.name
  )

  return authorPosts.length > 0
})

const title = `Blog Authors`
---

<Layout title={title} description={`Index of DDEV blog authors.`}>
  <main class="max-w-4xl mx-auto">
    <Heading title={title} />
    <div
      class="mt-12 mb-24 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none"
    >
      {
        activeAuthors.map((author) => (
          <div>
            <a href={`/blog/author/${author.id}`}>{author.data.name}</a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
