---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import BlogPostCard from "../../components/BlogPostCard.astro"
import Heading from "../../components/Heading.astro"
import Paging from "../../components/Paging.astro"
import { BLOG_DESCRIPTION, BLOG_PAGE_SIZE } from "src/const"

const posts = await getCollection("blog")
const recentPosts = posts
  .sort((a, b) => {
    return new Date(a.data.pubDate) > new Date(b.data.pubDate) ? -1 : 1
  })
  .slice(0, BLOG_PAGE_SIZE)

const title = `Blog Posts`
const rssUrl = new URL(`/blog/rss.xml`, Astro.site).toString()
const jsonUrl = new URL(`/blog/feed.json`, Astro.site).toString()
---

<Layout
  title={title}
  description={BLOG_DESCRIPTION}
  link={[
    { rel: "alternate", href: rssUrl, type: "application/rss+xml" },
    { rel: "alternate", href: jsonUrl, type: "application/json" },
  ]}
>
  <main class="max-w-4xl mx-auto">
    <Heading title={title} subtitle={`DDEV, Docker, and local development.`} />
    <div
      class="mt-12 mb-24 px-6 sm:px-4 lg:px-0 grid gap-5 sm:grid-cols-2 lg:grid-cols-3"
    >
      {recentPosts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </main>
  <Paging nextURL={`/blog/2`} />
</Layout>
