---
import { getAllBlogPosts, formatDate, getReadTime } from "../../lib/api"
import Layout from "../../layouts/Layout.astro"
import BlogPostCard from "../../components/BlogPostCard.astro"
import Heading from "../../components/Heading.astro"
import Paging from "../../components/Paging.astro"

const posts = await Astro.glob("./*.md")
const recentPosts = posts
  .sort((a, b) => {
    return new Date(a.frontmatter.pubDate) > new Date(b.frontmatter.pubDate)
      ? -1
      : 1
  })
  .slice(0, 6)

const title = `Blog Posts`
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto">
    <Heading title={title} subtitle={`DDEV, Docker, and local development.`} />
    <div
      class="mt-12 mb-24 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none"
    >
      {recentPosts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </main>
  <Paging nextURL={`/blog/2`} />
</Layout>
