---
import Layout from "../layouts/Layout.astro"
import PostBody from "../components/PostBody.astro"

const title = `404`
---

<Layout title={title} noindex={true}>
  <main class="max-w-4xl mx-auto mb-24 px-6 lg:px-0">
    <h1 class="font-mono text-5xl my-24 mb-8 dark:text-white">{title}</h1>
    <PostBody>
      <p>The page you’re looking for doesn’t exist. :(</p>
    </PostBody>
  </main>
</Layout>
