---
import Heading from "../components/Heading.astro"
import PostBody from "../components/PostBody.astro"
import Layout from "../layouts/Layout.astro"

const title = "Acceptable Use Policy"
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <PostBody>
      <Heading title={title} />
      <div class="prose">
        <p>
          <span>This Acceptable Use Policy (“</span><b>AUP”</b><span
            >) describes prohibited uses of the subscription services offered by
            Fruition Growth LLC and its affiliates (the</span
          ><b> “Subscription Services”</b><span
            >). The examples described in this AUP are not exhaustive. We may
            modify this AUP at any time by posting a revised version on our
            website or where you access the Subscription Services.  By using the
            Subscription Services, you agree to the latest version of this AUP.
            If you violate the AUP or authorize or help others to do so, we may
            suspend or terminate your use of the Subscription Services.</span
          >
        </p>
        <p><b>No Illegal, Harmful, or Offensive Use or Content</b></p>
        <p>
          <span
            >You may not use, or encourage, promote, facilitate or instruct
            others to use, the Subscription Services for any illegal, harmful,
            fraudulent, infringing or offensive use, or to transmit, store,
            display, distribute or otherwise make available content that is
            illegal, harmful, fraudulent, infringing or offensive. Prohibited
            activities or content include:</span
          >
        </p>
        <ul>
          <li>
            <b>Illegal, Harmful or Fraudulent Activities.</b><span>
              Any activities that are illegal, that violate the rights of
              others, or that may be harmful to others, our operations or
              reputation, including disseminating, promoting or facilitating
              child pornography, offering or disseminating fraudulent goods,
              services, schemes, or promotions, make-money-fast schemes, ponzi
              and pyramid schemes, phishing, or pharming.</span
            >
          </li>
          <li>
            <b>Infringing Content.</b><span>
              Content that infringes or misappropriates the intellectual
              property or proprietary rights of others.</span
            >
          </li>
          <li>
            <b>Offensive Content.</b><span>
              Content that is defamatory, obscene, abusive, invasive of privacy,
              or otherwise objectionable, including content that constitutes
              child pornography, relates to bestiality, or depicts
              non-consensual sex acts.</span
            >
          </li>
          <li>
            <b>Harmful Content</b><span
              >. Content or other computer technology that may damage, interfere
              with, surreptitiously intercept, or expropriate any system,
              program, or data, including viruses, Trojan horses, worms, time
              bombs, or cancelbots.</span
            >
          </li>
        </ul>
        <p><b>No Security Violations</b></p>
        <p>
          <span
            >You may not use the Subscription Services to violate the security
            or integrity of any network, computer or communications system,
            software application, or network or computing device (each, a “</span
          ><b>System</b><span>”). Prohibited activities include:</span>
        </p>
        <ul>
          <li>
            <b>Unauthorized Access.</b><span
              >Accessing or using any System without permission, including
              attempting to probe, scan, or test the vulnerability of a System
              or to breach any security or authentication measures used by a
              System.</span
            >
          </li>
          <li>
            <b>Interception.</b><span>
              Monitoring of data or traffic on a System without permission.</span
            >
          </li>
          <li>
            <b>Falsification of Origin.</b><span>
              Forging TCP-IP packet headers, e-mail headers, or any part of a
              message describing its origin or route. The legitimate use of
              aliases and anonymous remailers is not prohibited by this
              provision.</span
            >
          </li>
        </ul>
        <p><b>No Network Abuse</b></p>
        <p>
          <span
            >You may not make network connections to any users, hosts, or
            networks unless you have permission to communicate with them.
            Prohibited activities include:</span
          >
        </p>
        <ul>
          <li>
            <b>Monitoring or Crawling.</b><span>
              Monitoring or crawling of a System that impairs or disrupts the
              System being monitored or crawled.</span
            >
          </li>
          <li>
            <b>Denial of Service (DoS).</b><span>
              Inundating a target with communications requests so the target
              either cannot respond to legitimate traffic or responds so slowly
              that it becomes ineffective.</span
            >
          </li>
          <li>
            <b>Intentional Interference.</b><span>
              Interfering with the proper functioning of any System, including
              any deliberate attempt to overload a system by mail bombing, news
              bombing, broadcast attacks, or flooding techniques.</span
            >
          </li>
          <li>
            <b>Operation of Certain Network Subscription Services.</b><span
              >Operating network Subscription Services like open proxies, open
              mail relays, or open recursive domain name servers.</span
            >
          </li>
          <li>
            <b>Avoiding System Restrictions.</b><span
              >Using manual or electronic means to avoid any use limitations
              placed on a System, such as access and storage restrictions.</span
            >
          </li>
        </ul>
        <p><b>No E-Mail or Other Message Abuse</b></p>
        <p>
          <span
            >You will not distribute, publish, send, or facilitate the sending
            of unsolicited mass e-mail or other messages, promotions,
            advertising, or solicitations (like “spam”), including commercial
            advertising and informational announcements. You will not alter or
            obscure mail headers or assume a sender’s identity without the
            sender’s explicit permission. You will not collect replies to
            messages sent from another internet service provider if those
            messages violate this AUP or the acceptable use policy of that
            provider.</span
          >
        </p>
        <p><b>Our Monitoring and Enforcement</b></p>
        <p>
          <span
            >We reserve the right, but do not assume the obligation, to
            investigate any violation of this AUP or misuse of the Subscription
            Services. We may:</span
          >
        </p>
        <ul>
          <li>
            <span
              >investigate violations of this AUP or misuse of the Subscription
              Services; or</span
            >
          </li>
          <li>
            <span
              >remove, disable access to, or modify any content or resource that
              violates this AUP or any other agreement we have with you for use
              of the Subscription Services.</span
            >
          </li>
        </ul>
        <p>
          <span
            >We may report any activity that we suspect violates any law or
            regulation to appropriate law enforcement officials, regulators, or
            other appropriate third parties. Our reporting may include
            disclosing appropriate customer information. We also may cooperate
            with appropriate law enforcement agencies, regulators, or other
            appropriate third parties to help with the investigation and
            prosecution of illegal conduct by providing network and systems
            information related to alleged violations of this AUP.</span
          >
        </p>
        <p><b>Reporting of Violations of this AUP</b></p>
        <p>
          <span
            >If you become aware of any violation of this AUP, you will
            immediately notify us and provide us with assistance, as requested,
            to stop or remedy the violation. To report any violation of this
            AUP, please contact us at <a href="mailto:accounts@ddev.com"
              >accounts@ddev.com</a
            >.</span
          >
        </p>
      </div>
    </PostBody>
  </main>
</Layout>
