---
import Layout from "../layouts/Layout.astro"
import Heading from "../components/Heading.astro"
import PostBody from "../components/PostBody.astro"

const title = `Search`
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <Heading title={title} />
    <PostBody>
      <p>
        TODO: When this page grows up, you’ll be able to search this site with
        it.
      </p>
    </PostBody>
  </main>
</Layout>
