---
import Heading from "../components/Heading.astro"
import PostBody from "../components/PostBody.astro"
import Layout from "../layouts/Layout.astro"

const title = "Subscription Services Agreement"
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <PostBody>
      <Heading title={title} />

      <div class="prose">
        <p>
          <b
            >THESE SUBSCRIPTION TERMS GOVERNS USE OF THE SERVICES (AS DEFINED IN
            THIS AGREEMENT).  THESE SUBSCRIPTION TERMS WILL BE LEGALLY BINDING
            WHEN YOU CLICK THE “I AGREE” BUTTON BELOW. CAREFULLY READ THIS
            AGREEMENT BEFORE CLICKING “I AGREE.”  YOU REPRESENT THAT YOU HAVE
            AUTHORITY TO ENTER INTO THIS AGREEMENT ON BEHALF OF YOUR COMPANY (OR
            OTHER LEGAL ENTITY).  IF YOU DO NOT HAVE SUCH AUTHORITY, OR YOU DO
            NOT AGREE WITH THESE SUBSCRIPTION TERMS, DO NOT CLICK THE “I AGREE”
            BUTTON.
          </b>
        </p>

        <p>
          <span>This Subscription Services Agreement (</span><b>“Agreement”</b
          ><span
            >) is entered into by the entity accepting this Agreement (</span
          ><b>“Customer”</b><span>) and Fruition Growth LLC (</span><b
            >“Fruition”</b
          ><span>) (each, a</span><b>“Party”</b><span
            >). This Agreement is effective as of the date accepted by Customer
            (</span
          ><b>“Effective Date”</b><span>).</span>
        </p>
        <p><b>Definitions</b></p>
        <p>
          <b>“Affiliate”</b><span>
            means any company controlling, controlled by or under common control
            with a Party, where “control” means ownership, directly or
            indirectly, of the shares of a company representing fifty percent
            (50%) or more of the voting rights in such company.</span
          >
        </p>
        <p>
          <b>“Cloud Environment”</b><span>
            cloud infrastructure environment selected by Fruition.</span
          >
        </p>
        <p>
          <b>“Customer Content”</b><span>
            means (a) all data submitted by Customer to Fruition for processing
            in the Subscription Services databases and (b) Customer Confidential
            Information used to provision the Subscription.</span
          >
        </p>
        <p>
          <b>“Documentation”</b><span>
            means the support policies set forth at which may be modified from
            time to time.</span
          >
        </p>
        <p>
          <b>“DPA”</b><span>
            means the Customer Content Processing Addendum entered into by the
            Parties, if applicable.</span
          >
        </p>
        <p>
          <b> “Order”</b><span>
            means the order detailing the Subscriptions ordered, the
            Subscription Term, and applicable Fees.</span
          >
        </p>
        <p>
          <b>“Software”</b><span>
            means the Fruition DDEV and Fruition Hosting software.</span
          >
        </p>
        <p>
          <b>“Subscription Services”</b><span>
            means the hosted web services using the Software provided Fruition
            and Cloud Environment as described in the Documentation.</span
          >
        </p>
        <p>
          <b>“Subscription”</b><span>
            means the subscription for Subscription Services acquired by
            Customer.</span
          >
        </p>
        <p><span> </span></p>
        <ol>
          <li style="list-style-type: none;">
            <ol>
              <li style="list-style-type: none;">
                <ol>
                  <li aria-level="1">
                    <b>Scope.</b>
                    <span>
                      Fruition will provide the applicable Subscriptions ordered
                      by Customer. The Subscription Services are further
                      described in the Documentation.  Customer will comply with
                      the Acceptable Use Policy set forth at</span
                    ><a href="/acceptable-use-policy"
                      >https://ddev.com/acceptable-use-policy
                    </a><span
                      >, as may be updated from time to time.  Customer’s use of
                      the Cloud Environment is subject to terms presented to or
                      made available to Customer.  Customer agrees to comply
                      with the applicable then-current terms for such Cloud
                      Environment.  Fruition has no liability or responsibility
                      for the Cloud Environment, including without limitation,
                      its availability or security.  Customer acknowledges and
                      agrees that the Cloud Environments may modify its
                      capabilities, and Fruition may adjust the Subscription
                      Services accordingly.</span
                    >
                  </li>
                  <li aria-level="1">
                    <b>Fees.</b>
                    <ul>
                      <li aria-level="2">
                        <b>2.1</b>
                        <span>Fees.</span><span>
                          Customer will pay the Fees set forth in the Order. 
                          All Fees are non-refundable, non-cancelable, and
                          exclusive of applicable taxes.  If you choose monthly
                          billing by credit card, you authorize a recurring
                          monthly charge to your credit card based on the
                          applicable fee schedule. Customer will pay Fruition
                          the applicable fees and charges for use of the
                          Subscription Services as described in the applicable
                          fee schedule using Customer’s credit card. For orders
                          placed online, payments will be processed by
                          Fruition’s third-party payment processor.  Fruition
                          may increase or add new fees and charges for a
                          Subscription Service by updating the fee schedule set
                          forth at the Order site.  In the event that Fruition
                          changes the pricing for the Subscription Services, the
                          fees payable by Customer will increase or decrease in
                          accordance with any such modification upon the date
                          specified on the applicable site. Customer
                          acknowledges and agrees that access Fees for the
                          Subscription Services will be due and payable in
                          advance by credit card at the time of the Order, and
                          usage Fees will charged in arrears to the credit card
                          of file with Fruition.  Fruition may suspend provision
                          of the Subscription Services for delinquent payments.
                          Customer’s payment obligation will remain in effect
                          during any such suspension. Fruition may charge
                          Customer interest at the rate of 1% per month or the
                          highest rate permitted by law on any late payment. 
                          Customer will not chargeback any amounts paid to
                          Fruition by credit card and will reimburse Fruition
                          for any chargeback fees associated with the foregoing.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>2.2</b>
                        <span>Taxes.</span><span>
                          Customer will pay directly any taxes arising out of
                          this Agreement, including applicable local, state,
                          federal and international sales taxes, value added
                          taxes, withholding taxes, and any other taxes or
                          duties of any kind, but excluding taxes on Fruition’s
                          net income and all employer reporting and payment
                          obligations with respect to Fruition’s personnel. If
                          any applicable law requires Customer to withhold
                          amounts from any payments to Fruition under this
                          Agreement, (a) Customer will effect such withholding,
                          remit such amounts to the appropriate taxing
                          authorities and promptly furnish Fruition with tax
                          receipts evidencing the payments of such amounts and
                          (b) the sum payable by Customer upon which the
                          deduction or withholding is based will be increased to
                          the extent necessary to ensure that, after such
                          deduction or withholding, Fruition receives and
                          retains, free from liability for such deduction or
                          withholding, a net amount equal to the amount Fruition
                          would have received and retained absent the required
                          deduction or withholding.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Subscription Access; Restrictions.</b>
                    <ul>
                      <li aria-level="2">
                        <b>3.1</b>
                        <span>Access.</span><span>
                          Fruition will provide access to the Subscription
                          Services to Customer solely for Customer’s business
                          operations and subject to the restrictions set forth
                          in this Section 3.  During the Subscription Term,
                          Customer will make available to Fruition as needed,
                          access to Customer’s code repository for the Customer
                          Content (as defined herein) that Fruition will manage
                          as part of the Subscription Services.  Customer is
                          solely responsible for the development and management
                          of such Customer Content</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>3.2</b>
                        <span>Requirements.</span><span>
                          Customer shall: (a) use the Subscription  Services in
                          accordance with this Agreement and all Documentation;
                          (b) be responsible for its users’ compliance with this
                          Agreement; (c) use commercially reasonable efforts to
                          prevent unauthorized use of or access to the
                          Subscription  Services or any related account or
                          password, or any copying of the Subscription Services,
                          and shall notify Fruition immediately of any such
                          unauthorized use, access or copying; and (d) be solely
                          responsible for the accuracy and legality of Customer
                          Content, the means by which it acquires and uses such
                          Customer Content, including compliance with any
                          regulations and laws applicable to the Customer
                          Content (including, without limitation, privacy and
                          data protection), and has obtained all rights in the
                          Customer Content necessary to permit Fruition’s
                          compliance with its obligations under this Agreement. 
                          Customer may not perform benchmarks or comparative
                          tests or evaluations for disclosure to a third party
                          of the Subscription Services without Fruition’s prior
                          written consent.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>3.3</b>
                        <span>Restrictions.</span><span>
                          Customer shall not, and shall not allow others to: (a)
                          except as permitted by this Agreement, directly or
                          indirectly: distribute, sell, sublicense, rent, lease,
                          market, use or commercialize the Subscription (or any
                          portion thereof); (b) provide the Subscription 
                          Services on a time sharing, hosting, service provider
                          or other similar basis; (c) circumvent or attempt to
                          circumvent contractual usage restrictions, (d) send,
                          store, access or authorize a third party to send,
                          store or access spam, unlawful, infringing, obscene or
                          libelous material, viruses, worms, time bombs, Trojan
                          horses and other harmful or malicious code, files,
                          scripts, agents or programs; or (e) interfere with or
                          disrupt the integrity or performance of the
                          Subscription  Services.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>3.4</b>
                        <span>OSS.</span><span>
                          The Subscription  Services may include individual open
                          source software components, each of which has its own
                          copyright and its own applicable license conditions.
                          Open source software is licensed to Customer under the
                          terms of the applicable open source license conditions
                          and copyright notices that can be found in the
                          Documentation or other materials made available to
                          Customer. In the event of a conflict between the
                          licenses and restrictions set forth in this Section 3
                          and the terms of the open source license governing
                          open source software, the terms of the open source
                          software license will prevail.
                        </span>
                      </li>
                      <li aria-level="2">
                        <b>3.5</b>
                        <span>HIPAA.</span><span>
                          Customer agrees that: (i) Fruition is not acting on
                          Customer’s behalf as a Business Associate or
                          subcontractor; (ii) the Subscription Services may not
                          be used to store, maintain, process or transmit
                          protected health information (“PHI”) and (iii) the
                          Subscription Services will not be used in any manner
                          that would require Fruition, the Software, or the
                          Subscription Services to be compliant with the Health
                          Insurance Portability and Accountability Act of 1996,
                          as amended and supplemented (“HIPAA”).  In the
                          preceding sentence, the terms “Business Associate,”
                          “subcontractor,” “protected health information” or
                          “PHI” shall have the meanings described in HIPAA.
                        </span>
                      </li>
                      <li aria-level="2">
                        <b>3.6</b>
                        <span>Prohibited Data.</span><span>
                          Customer agrees not to store unmasked credit card and
                          social security data in the Subscription Services.
                          Customer agrees that (i) Customer’s use of the
                          Subscription Services complies with applicable
                          requirements of the Payment Card Industry Data
                          Security Standards, and (ii) Customer shall not
                          disclose (and shall not require any individuals to
                          disclose) the personal data of any individuals under
                          the age of 18 to Fruition for processing.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>3.7</b>
                        <span>Privacy Policy.</span><span>
                          Customer agrees that Fruition’s privacy policy set
                          forth at</span
                        ><a href="https://ddev.com/privacy-policy">
                          <span>https://ddev.com/privacy-policy</span>
                        </a><span> in incorporated herein by reference.</span>
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Customer Content; Security.</b>
                    <ul>
                      <li aria-level="2">
                        <b>4.1</b>
                        <span>Processing of Customer Content.</span><span>
                          Customer grants Fruition the non-exclusive right to
                          access and process the Customer Content for the sole
                          purpose and only to the extent necessary to provide
                          the Subscription Services.  Fruition agrees not to
                          use, access, disclose or process any Customer Content,
                          except to: (i) perform the obligations permitted by
                          Customer under this Agreement; and (ii) comply with
                          applicable laws. As between Customer and Fruition,
                          Customer retains all right, title, and interest in and
                          to Customer Data.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>4.2</b>
                        <span>Data Protection.</span><span>
                          To the extent any Personal Data (as defined in the
                          DPA) is contained in Customer Content, the parties
                          shall enter into the Data Protection Agreement (</span
                        ><b>“DPA”</b><span
                          >) and the terms of such DPA shall be incorporated
                          into this Agreement by reference.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>4.3</b>
                        <span>Security.</span><span>
                          Company will maintain commercially reasonable
                          administrative, physical and technical safeguards and
                          controls for the availability, security,
                          confidentiality and integrity of Customer Content
                          stored in the Subscription Services. Company’s
                          security policy is set forth in the Documentation.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>4.4</b>
                        <span>Aggregated Data.</span><span>
                          Customer acknowledges and agrees that Fruition may
                          collect aggregated and anonymized statistical and
                          other performance information related to Customer’s
                          use of the Subscription Services, which information
                          will not include personal information, and Fruition
                          may use such information for, among other things,
                          Support, reporting, research, improvements to the
                          Subscription  Services, industry collaboration, and
                          other reasonable business purposes.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Publicity and Confidentiality.</b>
                    <ul>
                      <li aria-level="2">
                        <b>5.1</b>
                        <span>Publicity.</span><span>
                          Fruition will be permitted to reference its
                          relationship with Customer on its website, during
                          discussions with analysts and reporters and in
                          customer briefings and regulatory filings. Fruition
                          will comply with Customer’s publicly available
                          trademark usage policies.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>5.2</b>
                        <span>Confidential Information.</span><span>
                          For purposes of this Agreement, the party disclosing
                          Confidential Information is the
                        </span><b>“Discloser”</b><span
                          >, and the party receiving Confidential Information is
                          the
                        </span><b>“Recipient”</b><span
                          >. Confidential Information means all information that
                          is marked or identified as confidential or proprietary
                          at the time of disclosure or that would be reasonably
                          understood to be confidential based on the nature and
                          circumstances surrounding disclosure. Confidential
                          Information excludes information that is: (a) known to
                          Recipient without restriction before receipt from
                          Discloser; (b) publicly available through no fault of
                          Recipient; (c) rightfully received by Recipient from a
                          third party without a duty of confidentiality; or (d)
                          independently developed by Recipient. If Confidential
                          Information is required to be produced by law, court
                          order, or governmental authority, Recipient must
                          (unless legally prohibited) notify Discloser in
                          advance and only disclose the information required. 
                          Recipient will use Discloser’s Confidential
                          Information only for the purposes provided and as
                          directed by Discloser. Confidential Information may
                          not be disclosed to any third party other than
                          Recipient’s and its Affiliates’ employees and
                          contractors that need to access such information for
                          purposes consistent with this Agreement and that are
                          subject to obligations of confidentiality to Recipient
                          no less restrictive than the terms set forth herein.
                          At Discloser’s request, all written, recorded,
                          graphical, or other tangible Confidential Information,
                          including copies, must be returned to Discloser or
                          destroyed by Recipient. Fruition will store
                          Confidential Information in accordance with data
                          retention policies unless a longer period is required
                          by law. At the request of Discloser, Recipient will
                          certify in writing that any Confidential Information
                          not returned to Discloser has been destroyed.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Intellectual Property.</b>
                    <ul>
                      <li aria-level="2">
                        <b>6.1</b>
                        <span>Ownership.</span><span>
                          Fruition will own all intellectual property and
                          proprietary rights in the Subscription Services,
                          Documentation, and related works, including but not
                          limited to any modifications and derivative works of
                          the foregoing. Customer owns all right, title, and
                          interest in and to the Customer Content.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>6.2</b>
                        <span>Customer Content License.</span><span>
                          During the Subscription Term and for as long as
                          Fruition processes Customer Content, Customer grants
                          to Fruition a nonexclusive, non- transferable,
                          royalty-free license to access, host, use, display and
                          process Customer Content solely for the purpose
                          authorized by Customer in connection with the
                          Subscription Services.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>6.3</b><span>Feedback.</span><span>
                          In the event that Customer provides Fruition with
                          suggestions, enhancement requests, recommendations,
                          proposals, documents, or other feedback (collectively,
                        </span><b>“Communications”</b><span
                          >), Customer grants Fruition a royalty-free,
                          worldwide, transferable, sub-licenseable, irrevocable,
                          perpetual license to use, modify, and distribute such
                          Communications in any manner without compensation to
                          Customer or attribution of any kind.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Warranties and Disclaimers.</b>
                    <ul>
                      <li aria-level="2">
                        <b>7.1</b>
                        <span>Service Warranty.</span><span>
                          Fruition warrants that Subscription Services will be
                          performed in a professional and workmanlike manner
                          consistent with applicable industry standards. If
                          Customer believes there has been a breach of this
                          warranty, Customer must notify Fruition in writing
                          promptly following delivery of such Support stating in
                          reasonable detail the nature of the alleged breach. As
                          Fruition’s sole obligation and Customer’s exclusive
                          remedy, Fruition will to correct or re-perform, at no
                          additional charge, any non-conforming Subscription
                          Services. Customer represents and warrants that it and
                          its use of the Subscription Services will at all times
                          comply with applicable laws.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>7.2</b>
                        <span>Warranty Disclaimer.</span><span>
                          EXCEPT AS SET FORTH IN THIS AGREEMENT, TO THE MAXIMUM
                          EXTENT PROVIDED BY APPLICABLE LAWS, THE SUBSCRIPTION
                          SERVICES, INCLUDING ALL UPDATES, BUG FIXES, WORK
                          AROUNDS, OR ERROR CORRECTIONS, ARE PROVIDED TO
                          CUSTOMER “AS-IS” AND “AS AVAILABLE” WITHOUT ANY
                          WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING,
                          BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF
                          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                          INTEGRATION, NON-INFRINGEMENT, TITLE, PERFORMANCE, AND
                          ACCURACY AND ANY IMPLIED WARRANTIES ARISING FROM
                          STATUTE, COURSE OF DEALING, COURSE OF PERFORMANCE, OR
                          USAGE OF TRADE.  Fruition DOES NOT WARRANT THAT USE OF
                          THE SUBSCRIPTION SERVICES WILL BE UNINTERRUPTED OR
                          ERROR-FREE.  Fruition SHALL NOT BE LIABLE FOR DELAYS,
                          INTERRUPTIONS, SERVICE FAILURES OR OTHER PROBLEMS
                          INHERENT IN USE OF THE INTERNET AND ELECTRONIC
                          COMMUNICATIONS OR FOR ISSUES RELATED TO THIRD-PARTY
                          HOSTING PROVIDERS WITH WHOM CUSTOMER SEPARATELY
                          CONTRACTS.  Fruition DOES NOT MAKE ANY WARRANTIES AND
                          SHALL HAVE NO OBLIGATIONS WITH RESPECT TO THIRD-PARTY
                          APPLICATIONS.  CUSTOMER MAY HAVE OTHER STATUTORY
                          RIGHTS, BUT THE DURATION OF STATUTORILY REQUIRED
                          WARRANTIES, IF ANY, SHALL BE LIMITED TO THE SHORTEST
                          PERIOD PERMITTED BY LAW.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Limitation of Liability.</b>
                    <ul>
                      <li aria-level="2">
                        <b>8.1</b>
                        <span
                          >IN NO EVENT WILL Fruition OR ITS AFFILIATES BE LIABLE
                          UNDER THIS AGREEMENT FOR ANY INDIRECT, RELIANCE,
                          PUNITIVE, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR
                          INCIDENTAL DAMAGES OF ANY KIND AND HOWEVER CAUSED EVEN
                          IF Fruition HAS BEEN ADVISED OF THE POSSIBILITY OF
                          SUCH LOSS OR DAMAGE.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>8.2</b>
                        <span
                          >Fruition AND ITS AFFILIATES’ AGGREGATE AND CUMULATIVE
                          LIABILITY ARISING OUT OF OR RELATING TO THIS
                          AGREEMENT, SUBSCRIPTION SERVICES, OR SOFTWARE
                          INCLUDING WITHOUT LIMITATION ON ACCOUNT OF PERFORMANCE
                          OR NON-PERFORMANCE OF OBLIGATIONS, REGARDLESS OF THE
                          FORM OF THE CAUSE OF ACTION, WHETHER IN CONTRACT, TORT
                          (INCLUDING WITHOUT LIMITATION NEGLIGENCE), STATUTE OR
                          OTHERWISE WILL BE LIMITED TO DIRECT DAMAGES AND WILL
                          NOT EXCEED THE GREATER OF (I) THE TOTAL AMOUNT OF FEES
                          ACTUALLY PAID (OR WITH RESPECT TO CLAIMS FOR FEES DUE,
                          PAYABLE) TO Fruition BY CUSTOMER PURSUANT TO THE ORDER
                          GIVING RISE TO THE CLAIM DURING THE TWELVE (12) MONTHS
                          IMMEDIATELY PRECEDING THE TIME THE CLAIM AROSE AND
                          (II) US $100.00.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>8.3</b>
                        <span
                          >THE PROVISIONS OF THIS SECTION 8 ALLOCATE RISKS UNDER
                          THIS AGREEMENT BETWEEN CUSTOMER AND Fruition AND
                          Fruition’S FEES FOR THE SUBSCRIPTIONS REFLECT THIS
                          ALLOCATION OF RISKS AND LIMITATION OF LIABILITY.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Term and Termination.</b>
                    <ul>
                      <li aria-level="2">
                        <b>9.1</b>
                        <span>Term; Termination.</span><span>
                          This Agreement will be in effect until all outstanding
                          Orders have expired or has been terminated in
                          accordance with this Agreement. Each Order will be
                          effective for the term specified therein (</span
                        ><b>“Subscription Term”</b><span
                          >). During the Subscription Term, Customer may
                          purchase Subscriptions and such Subscriptions will be
                          co-terminus with the then-current Subscription Term.
                          Either party may elect not to renew an Order by
                          providing the other party with no less than thirty
                          (30) days’ prior written notice (which notice may be
                          by email). Either party may terminate all Orders with
                          immediate effect: (a) in the event that the other
                          party breaches this Agreement and does not cure such
                          breach within thirty (30) days following of written
                          notice of such breach, (b) in the event that the other
                          party ceases business, becomes insolvent or bankrupt
                          or if a receiver, examiner, administrator or
                          administrative receiver is appointed over any part of
                          that party’s business or if anything analogous occurs
                          in relation to that party under the laws of another
                          jurisdiction, or (c) upon the institution by or
                          against the other party of insolvency, receivership or
                          bankruptcy proceedings in relation to such party.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>9.2</b>
                        <span>Suspension.</span><span>
                          Fruition may suspend Customer’s access to the
                          Subscription Services immediately if Fruition
                          reasonably determines that there is a risk to the
                          Subscription Services or any third party, or that
                          Customer’s use of the Services violates applicable
                          laws.  Additionally, Fruition may suspend access to
                          the Subscription Services in the event that Customer
                          makes publicly available the Subscription Services, or
                          any component thereof.  For the avoidance of doubt,
                          payment obligations are not suspended or terminated if
                          Fruition suspends access to the Subscription Services.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>9.3</b>
                        <span>Effect of Termination.</span><span>
                          Upon termination of this Agreement, (i) Customer’s
                          rights to use the Subscription Services, Software, and
                          all Fruition Marks, including any included with
                          software, will immediately cease, and (ii) unless
                          Customer terminates due to Fruition’s material,
                          uncured breach, all Fees will become immediately due
                          and payable.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>9.4</b>
                        <span>Survival.</span><span>
                          Sections 2 (Fees), 3.5 (Restrictions), 4.4 (Aggregated
                          Data), 5 (Confidentiality), 6 (Intellectual Property),
                          7.2 (Warranty Disclaimer), 8-11 (Limitation of
                          Liability, Term and Termination, Indemnification, and
                          General) and Definitions will survive the expiration
                          or termination of this Agreement.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>Indemnification.</b>
                    <ul>
                      <li aria-level="2">
                        <span
                          >Customer, at its own expense, will defend or settle
                          any third party claims, actions and demands brought by
                          a third party against Fruition or its Affiliates,
                          arising from: (a) Customer Content; (b) Customer’s
                          breach of Section 3.3 of this Agreement; or (c)
                          Customer failure to comply with applicable laws, rules
                          or regulations in its performance of this Agreement. 
                          Customer will defend Fruition from and against any
                          claim by a third party arising from or relating to any
                          Customer Content or any product or service offered by
                          Customer in connection with or related to the
                          Subscription  Services, and will indemnify and hold
                          harmless Fruition from any damages and costs awarded
                          against Fruition or agreed in settlement by Customer
                          (including reasonable attorneys’ fees) resulting from
                          such claim.</span
                        >
                      </li>
                    </ul>
                  </li>
                  <li aria-level="1">
                    <b>General.</b>
                    <ul>
                      <li aria-level="2">
                        <b>11.1</b>
                        <span>
                          From time to time, Fruition may modify this
                          Agreement.  Unless otherwise specified by Fruition,
                          changes become effective for Customer upon renewal of
                          the then-current Subscription Term or entry into a new
                          Order after the updated version of this Agreement goes
                          into effect.  Fruition will use reasonable efforts to
                          notify Customer of the changes through its website,
                          via Customer’s account, email or other means. 
                          Customer may be required to click to accept or
                          otherwise agree to the modified Agreement before
                          renewing a Subscription Term or entering into a new
                          Order. In any event, continued use of the Subscription
                          Services after the updated version of this Agreement
                          goes into effect will constitute Customer’s acceptance
                          of such updated version.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>11.2</b>
                        <span
                          >This Agreement and any dispute relating to, or
                          arising out of this Agreement or its formation or
                          termination or actions or omissions contemplated by
                          this Agreement, will be governed by and in accordance
                          with the laws of Delaware, without giving effect to
                          the conflict of laws provisions. For all disputes
                          arising out of this Agreement, the parties consent to
                          the exclusive jurisdiction of the federal and state
                          courts located in Denver, Colorado</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>11.3</b>
                        <span>
                          Unless otherwise specified in this Agreement, all
                          notices will be in writing and will be mailed (via
                          registered or certified mail, return receipt
                          requested), delivered by a nationally recognized
                          express courier service with the ability to track
                          shipments, or personally delivered to the other party
                          at the address set forth above (or at such other
                          address as either party may designate in writing to
                          the other party). All notices are effective upon
                          receipt.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>11.4</b>
                        <span>
                          This Agreement is binding on the parties to this
                          Agreement, and nothing in this Agreement confers upon
                          any other person or entity any right, benefit or
                          remedy of any nature whatsoever. This Agreement is
                          assignable by either party only with the other party’s
                          prior written consent, which will not be unreasonably
                          withheld. Notwithstanding the foregoing, either party
                          may assign this Agreement to an Affiliate or as a
                          result of a merger or a sale of all or substantially
                          all of such party’s assets or stock without the prior
                          approval of the other party.  There are no third-party
                          beneficiaries to this Agreement.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>11.5</b>
                        <span
                          >This Agreement, including any linked terms set forth
                          herein, together with all Orders, is the parties’
                          entire agreement relating to its subject and
                          supersedes any prior or contemporaneous agreements on
                          that subject. All amendments to this Agreement must be
                          in writing, provided that Fruition amend this
                          Agreement at any time by posting a revised version on
                          its website, in the customer portal, or by providing
                          notice to Customer by email. By continuing to use the
                          Subscription Services after the effective date of the
                          amendment, Customer agrees to be bound by the amended
                          Agreement.  Additionally, Fruition may modify the
                          Subscription Services, provided that Fruition not
                          materially reduce such Subscription Services during
                          the then-current Subscription Term. Purchase orders
                          issued by Customer will be for the sole purpose of
                          defining quantities, prices and describing the
                          Subscription Services to be provided under this
                          Agreement and to this extent only are incorporated as
                          a part of this Agreement and all other terms in
                          purchase orders are rejected.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>11.6</b>
                        <span
                          >Failure to enforce any provision of this Agreement
                          will not constitute a waiver thereof. No waiver will
                          be effective unless it is in writing and signed by the
                          waiving party. If a party waives any right, power, or
                          remedy, the waiver will not waive any successive or
                          other right, power, or remedy the party may have under
                          this Agreement. If any provision is found to be
                          unenforceable, it and any related provisions will be
                          interpreted to best accomplish the unenforceable
                          provision’s essential purpose.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>11.7</b>
                        <span
                          >Neither party will be liable for failures or delays
                          in performance due to causes beyond its reasonable
                          control, including, but not limited to, any act of
                          God, fire, earthquake, flood, storm, natural disaster,
                          accident, pandemic, labor unrest, civil disobedience,
                          act of terrorism or act of government; however, the
                          inability to meet financial obligations is expressly
                          excluded.</span
                        >
                      </li>
                      <li aria-level="2">
                        <b>11.8</b>
                        <span
                          >Customer agrees to comply with all export and
                          re-export restrictions and regulations of the
                          Department of Commerce and any other United States or
                          foreign agencies and authorities in connection with
                          Customer’s use of the Subscription Services and
                          Software.  In particular, but without limitation, the
                          Software may not, in violation of any laws, be
                          exported or re-exported: (1) into any U.S. embargoed
                          country; or (2) to anyone on the U.S. Treasury
                          Department’s list of Specially Designated Nationals or
                          the U.S. Commerce Department’s Table of Deny Orders. 
                          Customer represents and warrants that Customer and its
                          Affiliates are not located in, under the control of,
                          or a national or resident of any such country or on
                          any such list.</span
                        >
                      </li>
                    </ul>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </PostBody>
  </main>
</Layout>
