---
import Layout from "../layouts/Layout.astro"
import Heading from "../components/Heading.astro"
import PostBody from "../components/PostBody.astro"

const title = `Support DDEV`
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <Heading title={title} subtitle={`We’d love your help!`} />
    <PostBody>
      <p>
        DDEV exists because of the generosity of community members and sponsors.
        There are several ways to get involved and we’d love for you to join us.
      </p>

      <h2>File an Issue or PR</h2>

      <p>
        If you have an idea, or you found a bug, or you’re a devops whiz with a
        PR to contribute, please take the time to file a GitHub Issue or Pull
        Request.
      </p>

      <h2>Improve the Docs</h2>
      <p>
        Our documentation is always evolving and never perfect. It doesn’t
        matter whether you’ve found a typo, can wordsmith something to better
        explain or fit our style guide, or whether you’d like to suggest an
        entirely new section or use case. We’d be happy to have your input!
      </p>

      <h2>Sponsor Development</h2>
      <p>
        We’re grateful for our sponsors, and all contributions to the DDEV
        Foundation go entirely toward development. We can always use resources
        to help attract contributors, cover test-running costs, and try to
        secure DDEV’s future.
      </p>

      <h2>Help Others</h2>
      <p>
        There’s no shortage of questions on Discord, GitHub, and Stack Overflow.
        If you have the time to help someone out, it helps us out and lets us
        focus more on development.
      </p>

      <h2>Spread the Word</h2>
      <p>
        If you like using DDEV, don’t keep it to yourself! Star the project on
        GitHub and make sure we know about your latest blog post, tweet, or
        YouTube video.
      </p>
    </PostBody>
  </main>
</Layout>
