---
import Heading from "../components/Heading.astro"
import PostBody from "../components/PostBody.astro"
import Layout from "../layouts/Layout.astro"

const title = "Technical Support Policies"
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <PostBody>
      <Heading title={`Drud Technology LLC Support Services`} />
      <div class="prose">
        <p>
          Drud Technology delivers technical support services including Problem
          Resolution Support, Engineering Support and Consultative Support for
          DDEV, Drud Preview, Drud Hosting and related products via the Customer
          Slack Channel.
        </p>
        <p>
          Each designated technical contact will receive a Customer Slack
          Channel ID based on the associated email address that can be used to
          report new support issues, monitor ongoing issues or review historical
          issues. Information regarding making changes to technical contacts may
          be submitted via the Customer Slack Channel or via an email request.
        </p>
        <p>
          All support services are delivered in English. Drud Tech will use
          reasonable efforts to provide support in other languages using
          available personnel but may not have such resources available at the
          time of the support request.
        </p>

        <h2>Problem Resolution Support</h2>
        <p>
          The focus of Problem Resolution Support is helping to restore service
          and assisting with command syntax, installation, configuration,
          upgrades and other general product usage topics.
        </p>

        <h2>Engineering Support</h2>
        <p>
          Engineering support can include bug fixes, patches, hotfixes, and
          topics that require communication with the product engineering team.
          Hot fixes are provided to address critical failures and may not
          receive the full QA and regression testing performed on regular
          maintenance releases due to the urgent nature of the situation.
        </p>
        <p>
          Custom feature development (Non Recurring Engineering) is a separate
          service and is not included in Engineering Support
        </p>

        <h2>Consultative Support</h2>
        <p>
          Consultative Support covers issues that are specific to a customer's
          deployment, such as performance tuning, best practice recommendations
          and code reviews, rather than general product useage, service failures
          or software defects. Drud Tech’s Managed Hosting Service is a separate
          service and is not included in Consultative Support.
        </p>
        <p>
          Consultative Support is intended for narrow, specific topics and is
          not a replacement for a dedicated Professional Services engagement
          which can address systemic, architectural and other broader topics.
        </p>
        <h3>Performance Tuning</h3>
        <p>
          Drud Tech will provide assistance resolving performance problems
          caused by configuration, storage engines, and more, suggesting changes
          and identifying alternative implementations suited to a particular
          environment.
        </p>
        <h3>CICD Review</h3>
        <p>
          Drud Tech can review your CICD process to assist with following best
          practices and ensuring correctness regarding the various tools,
          extensions and recommending changes as necessary to support particular
          needs.
        </p>

        <h2>Issue Severity</h2>
        <p>
          Support issues are assigned a Severity level reflecting the impact to
          production operations. This is set initially by the customer when
          reporting a new issue and Drud Tech will help to ensure that the issue
          receives an appropriate rating:
        </p>
        <ul>
          <li>
            Severity 1 (S1): Catastrophic problem that severely impacts the
            ability to conduct business. This means that production systems are
            down (completely non-responsive or not functioning) and no known
            workaround exists.
          </li>
          <li>
            Severity 2 (S2): High impact problem in which production operations
            are disrupted but remain somewhat productive or have an available
            workaround.
          </li>
          <li>
            Severity 3 (S3): Medium or lower impact problem that involves
            partial loss of non-critical functionality. This may be a minor
            issue with limited or no loss of functionality or impact to
            production operations. This includes administrative requests and
            errors in product documentation.
          </li>
          <li>
            <span
              >Severity 4 (S4): Low level problem that does not significantly
              affect system function or operations. This includes new feature
              requests.</span
            >
          </li>
        </ul>
        <p>
          In some situations, Drud Tech may elect to assign an S1 or S2 Severity
          level for failures on non-production systems based on the overall
          business impact. Drud Tech may change the severity of an issue based
          on the guidelines above.
        </p>

        <h2>Telephone Support</h2>
        <p>
          For S1 emergency production outages, customers may request that Drud
          Tech make contact by telephone. Resolving technical support issues
          generally requires analysis of system logs and other data that must be
          transmitted via email and file attachments to the support issue rather
          than by telephone. Including this information when reporting the
          support issue dramatically hastens the process of resolving the
          problem and restoring production functionality.
        </p>

        <h2>Escalation Requests</h2>
        <p>
          Customers may request escalation of a specific support issue directly
          within the Customer Slack Channel.
        </p>

        <h2>Service Level Agreements (SLAs)</h2>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Initial Response Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>S1</td>
              <td>60 minutes 24x7</td>
            </tr>
            <tr>
              <td>S2</td>
              <td>2 hours 24x5</td>
            </tr>
            <tr>
              <td>S3</td>
              <td>4 hours 24x5</td>
            </tr>
            <tr>
              <td>S4</td>
              <td>8 hours 24x5</td>
            </tr>
          </tbody>
        </table>

        <h2>Limitations</h2>
        <p>
          The overall level of support available for a particular product and
          platform combination may vary from version to version.
        </p>
        <h3>Problem Resolution Support</h3>
        <p>
          Problem Resolution Support is available for all supported products,
          regardless of platform.
        </p>
        <h3>Consultative Support</h3>
        <p>
          Consultative Support is available for all Drud Tech products
          regardless of platform.
        </p>
        <h3>Engineering Support</h3>
        <p>
          Engineering Support is available on those platforms for which we or
          our partners produce supported product binaries, subject to the
          relevant Maintenance and Lifecycle policies for the specific product
          and platform. Engineering Support is unavailable for products or
          platforms that have reached their maintenance end of life.
        </p>
        <h3>Exclusions and Limitations</h3>
        <p>
          Support for legacy versions of products that no longer receive
          Engineering Support may require an additional fee. Support for issues
          specific to a platform that lacks Engineering Support may be limited
          to problems that can be reproduced on a platform that has Engineering
          Support.
        </p>
        <p>
          Drud Tech makes every commercially reasonable effort to work with
          other product and platform vendors to resolve issues affecting our
          supported products.
        </p>
      </div>
    </PostBody>
  </main>
</Layout>
