---
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"
import Heading from "@components/Heading.astro"
import TrainingSignup from "@components/TrainingSignup.astro"
import TrainingTable from "@components/TrainingTable.astro"

const title = `Contributor Training`

const posts = await getCollection("trainings")
const sessions = posts.sort((a, b) => {
  return new Date(a.data.sessionStart) > new Date(b.data.sessionStart) ? -1 : 1
})
const upcoming = sessions
  .filter((entry) => {
    return new Date(entry.data.sessionStart) > new Date()
  })
  .reverse()
const past = sessions.filter((entry) => {
  return new Date(entry.data.sessionStart) <= new Date()
})
---

<script>
  const registrationFormSessionInput = document.getElementById("session")
  const registerButtons = document.querySelectorAll("button.register")
  Array.from(registerButtons).map((element) => {
    element.addEventListener("click", (e) => {
      registrationFormSessionInput?.setAttribute(
        "value",
        e.target.getAttribute("data-session")
      )
      location.hash = "#register"
    })
  })
</script>

<Layout
  title={title}
  description={`Upcoming and past training sessions for people interested in maintaining DDEV.`}
>
  <main class="max-w-4xl mx-auto mb-24">
    <Heading title={title} />
    <div class="prose px-6 lg:px-0 text-lg mt-0 mb-24">
      <p>
        Live training on contributing topics and themes, with recordings from
        past events.
      </p>
    </div>
    <div class="lg:flex">
      <div class="px-6 lg:px-0 w-full max-w-3xl">
        <div class="prose">
          <h2>Upcoming Sessions</h2>

          <p>
            Live training sessions are held weekly on Tuesdays at 8am US MT /
            5pm CET or CEST.
          </p>
        </div>
        <div class="prose max-w-none">
          <TrainingTable sessions={upcoming} />
        </div>

        <div id="register" class="prose mb-4 mt-24">
          <h2>Register</h2>
        </div>
        <div class="prose max-w-none mb-32">
          <TrainingSignup />
        </div>

        <div class="prose">
          <h2>Past Sessions</h2>
        </div>
        <div class="prose max-w-none">
          <TrainingTable sessions={past} />
        </div>
      </div>
    </div>
  </main>
</Layout>
