<div class="opacity-60">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center content-center flex-wrap">
      <div class="px-12 py-6">
        <img class="h-12" src="/logos/drupal.svg" alt="" />
      </div>
      <div class="px-12 py-6">
        <img class="h-12" src="/logos/wordpress.svg" alt="" />
      </div>
      <div class="px-12 py-6">
        <img class="h-12" src="/logos/typo3.svg" alt="" />
      </div>
      <div class="px-12 py-6">
        <img class="h-12" src="/logos/magento.svg" alt="" />
      </div>
      <div class="px-12 py-6">
        <img class="h-12" src="/logos/backdrop.svg" alt="" />
      </div>
      <div class="px-12 py-6">
        <img class="h-12 w-7" src="/logos/craft.svg" alt="" />
      </div>
      <div class="px-12 py-6">
        <img class="h-12 w-7" src="/logos/laravel.svg" alt="" />
      </div>
    </div>
  </div>
</div>
