---
/**
 * Cards for the three most recent blog posts, shown on the homepage.
 */

import BlogPostCard from "./BlogPostCard.astro"
import { getCollection } from "astro:content"

const posts = await getCollection("blog")
const recentPosts = posts
  .sort((a, b) => {
    return new Date(a.data.pubDate) > new Date(b.data.pubDate) ? -1 : 1
  })
  .slice(0, 3)
---

<div class="relative my-24 px-8">
  <div class="relative max-w-5xl mx-auto">
    <div class="text-center">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl dark:text-white">
        Latest Blog Posts
      </h2>
    </div>
    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      {recentPosts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </div>
</div>
