---
import { getContributors } from "../lib/api.js"
import Sponsors from "./Sponsors.astro"

const contributors = await getContributors()
---

<div class="relative mt-36 mb-24 px-8">
  <div class="relative max-w-5xl mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
        Our Wonderful GitHub Supporters
      </h2>
    </div>

    <h3 class="text-base font-mono text-navy-300 text-center mb-8">
      Contributors
    </h3>
    <div class="max-w-5xl mx-auto flex flex-wrap justify-center">
      {
        contributors.map((contributor) => (
          <a
            class="block w-12 h-12 relative overflow-hidden"
            title={contributor.login}
            href={contributor.html_url}
            target="_blank"
          >
            <img src={contributor.avatar_url} class="block w-full h-full" />
          </a>
        ))
      }
    </div>

    <h3 class="mt-12 mb-8 text-base font-mono text-navy-300 text-center">
      Sponsors
    </h3>
    <div class="max-w-4xl mx-auto flex flex-wrap justify-center">
      <Sponsors size="large" align="center" />
    </div>
  </div>
</div>
