---
export interface Props {
  text: string
  href: string
  type?: string
}

const typeClasses = {
  default: `border border-transparent text-white bg-blue-600 hover:bg-blue-700`,
  hollow: `border border-blue-600 text-blue-600 hover:border-blue-700 hover:text-blue-700`,
}

const { text, href, type = "default" } = Astro.props
---

<a
  href={href}
  class={`w-full mx-2 flex items-center justify-center px-8 py-3 text-base font-medium rounded-md md:py-4 md:text-lg md:px-10 ` +
    typeClasses[type]}
>
  {text}
</a>
