---
import featuredSponsors from "../featured-sponsors.json"

/**
 * Sketchy array of classes that should be applied to specific logos
 * in this context. Match the name from `featured-sponsors.json` if
 * you need to add one.
 */
const nudges = {
  "Platform.sh": "mt-12 h-11",
  Tag1: "h-9",
  "Oliver Wand": "h-12 w-12",
  DrupalEasy: "h-10",
  "Redfin Solutions": "h-16 w-16",
  MacStadium: "h-15",
  Lullabot: "h-9",
  "Craft CMS": "h-11",
  undpaul: "h-9",
  "1xINTERNET": "h-11",
}

// Add class property to relevant sponsor objects
featuredSponsors.map((sponsor) => {
  if (sponsor.name in nudges) {
    sponsor.class = nudges[sponsor.name]
  }
})
---

<div class="relative">
  <div
    class={`flex flex-wrap space-y-12 -mt-12 justify-center items-center content-center`}
  >
    {
      featuredSponsors.map((sponsor) => (
        <a
          class={
            `block relative overflow-hidden cursor-pointer h-12 mx-6` +
            (sponsor.hasOwnProperty("class") ? ` ` + sponsor.class : ``)
          }
          title={sponsor.name}
          href={sponsor.url}
          target="_blank"
        >
          <img
            src={sponsor.logo}
            class="block w-auto h-full dark:invert"
            alt={`${sponsor.name} logo`}
          />
        </a>
      ))
    }
  </div>
</div>
