---
import { marked } from "marked"

export interface Props {
  src: string
  alt: string
  caption?: string
  credit?: string
  shadow?: boolean
}

const { src, alt, caption = "", credit, shadow = false } = Astro.props
---

<figure
  class={`w-full mx-auto mb-24 rounded-md z-10 overflow-hidden` +
    (shadow ? ` shadow-xl` : ``)}
>
  <img src={src} alt={alt} />
  {
    (caption || credit) && (
      <figcaption class="text-sm font-mono mt-2 ">
        {caption && <span set:html={marked.parseInline(caption)} />}
        {credit && (
          <span class="text-gray-500">
            {caption && <span aria-hidden="true"> ·</span>}
            <span set:html={`Courtesy of ${marked.parseInline(credit)}`} />
          </span>
        )}
      </figcaption>
    )
  }
</figure>
