---
import { marked } from "marked"
import { formatDate } from "src/lib/api"

export interface Props {
  date: string
  comment?: string
}

const { date, comment } = Astro.props
---

<style is:global>
  .updated-comment a {
    text-decoration: underline;
  }
</style>

<aside
  class="updated-comment w-full rounded-lg text-sm p-6 -mt-8 mb-12 shadow-xl dark:bg-slate-600"
>
  <p class="text-navy-500 font-mono uppercase text-xs tracking-wide dark:text-slate-400">
    <b>Updated {formatDate(date, { month: "long" })}</b>
  </p>
  {comment && <div class="mt-2 dark:text-white" set:html={marked.parse(comment)} />}
</aside>
