---
let results = []
---

<script>
  import { loadIndex } from "@barnabask/astro-minisearch"

  const response = await fetch("./search.json")
  const searchData = await response.json()
  const maxResults = 10

  if (searchData) {
    const searchIndex = loadIndex(searchData)

    const input = document.getElementById("search-input")

    input.addEventListener("keyup", () => {
      getResults(input.value)
    })

    const getResults = (keywords) => {
      return searchIndex.search(keywords).slice(0, maxResults)
    }
  }
</script>

<div
  id="search-modal"
  class="shadow rounded-lg bg-white p-6 max-w-screen-md max-h-screen mx-auto"
>
  <input
    id="search-input"
    type="search"
    class="border rounded-md px-2 py-1 w-full"
  />
  <ul>
    {results.map((result) => <li>{result.title}</li>)}
  </ul>
</div>
