---
/**
 * This is a visual wrapper that puts simple terminal GUI around a code block
 * to help convey that it’s depicting a terminal session and not code.
 */

import {
  XMarkIcon,
  MinusIcon,
  StopIcon,
} from "@heroicons/react/24/outline/index.js"
import { Code } from "astro/components"

export interface Props {
  code: string
  codeTheme?: string
  type?:
    | "default"
    | "powershell"
    | "powershell-ubuntu"
    | "admin-powershell"
    | "windows-terminal"
    | "ubuntu"
}

const { code, codeTheme = "nord", type = "default" } = Astro.props

const promptSymbols = {
  default: '→',
  powershell: '>',
  "powershell-ubuntu": '$',
  "admin-powershell": '>',
  "windows-terminal": '>',
  ubuntu: '$',
}

/**
 * Wraps each instance of the symbol appearing as the first character of a line in a code snippet.
 */
const wrapPromptSymbol = (code: string, symbol: string) => {
  // Escape the dollar sign
  let searchSymbol = (symbol === '$') ? '\\$' : symbol;

  const search = new RegExp(`^${searchSymbol} `, "gm")
  return code.replaceAll(search, `<span class="prompt">${symbol} </span>`)
}
---

<style is:global lang="postcss">
  .terminal-wrapper {
    @apply rounded-lg;
    background: #2e3440;

    pre {
      @apply font-normal overflow-x-auto px-4 py-2 font-mono bg-transparent rounded-t-none;

      code {
        color: #d8dee9;
        .prompt {
          @apply select-none text-slate-400;
        }
      }
    }
  }

  .terminal-wrapper .top-bar {
    &.powershell {
      @apply justify-between text-white;
      background: #1F2023;
    }
    &.powershell-ubuntu {
      @apply justify-between text-white;
      background: #1F2023;
    }
    &.ubuntu {
      @apply justify-end;
    }
  }

  .prose .terminal-wrapper pre {
    @apply my-0;
  }
</style>

<div class="terminal-wrapper">
  <div class={`top-bar flex p-3 space-x-2 rounded-t-lg ${type}`}>
    {(type == "default" || type == "ubuntu") && (
      <div class="block rounded-full bg-slate-500 w-3 h-3"></div>
      <div class="block rounded-full bg-slate-500 w-3 h-3"></div>
      <div class="block rounded-full bg-slate-500 w-3 h-3"></div>
    )}
    {type == "powershell" && (
      <img src="/logos/powershell.svg" alt="" class="block w-3 h-3 m-0 self-start" />
      <div class="flex space-x-2">
        <div class="block w-3 h-3 items-end"><MinusIcon /></div>
        <div class="block w-3 h-3 items-end"><StopIcon /></div>
        <div class="block w-3 h-3 items-end"><XMarkIcon /></div>
      </div>
    )}
    {type == "powershell-ubuntu" && (
      <img src="/logos/tux.svg" alt="" class="block w-3 h-3 m-0 self-start" />
      <div class="flex space-x-2">
        <div class="block w-3 h-3 items-end"><MinusIcon /></div>
        <div class="block w-3 h-3 items-end"><StopIcon /></div>
        <div class="block w-3 h-3 items-end"><XMarkIcon /></div>
      </div>
    )}
  </div>
  <div class="overflow-hidden my-0">
    <pre><code tabindex="0" set:html={wrapPromptSymbol(String(code), promptSymbols[type])} /></pre>
  </div>
</div>
