---
---

<div class="shadow-xl rounded-lg px-6 py-7">
  <p class="mt-0 pt-0">
    Sign up to get a Zoom invitation for your desired session.
  </p>
  <form action="https://crm.zoho.com/crm/WebToLeadForm">
    <input
      type="hidden"
      name="xnQsjsdp"
      value="e888d842d2182432c1bf117aecd6280f1bf0b73e665551779217573985104582"
    />
    <input type="hidden" name="zc_gad" id="zc_gad" value="" />
    <input
      type="hidden"
      name="xmIwtLD"
      value="d761f49b3421baca337046aa6e88b3577b9bde1a72416d4efa9653571fde49fa"
    />
    <input type="hidden" name="actionType" value="TGVhZHM=" />
    <input type="hidden" name="returnURL" value="https://ddev.com/training" />

    <div>
      <div class="mb-4">
        <label for="session" class="block text-xs font-medium text-gray-700">
          Session
        </label>

        <input
          type="text"
          id="session"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
          required
        />
      </div>
    </div>

    <div class="flex space-x-4">
      <div class="w-1/2">
        <label for="name" class="block text-xs font-medium text-gray-700">
          Name
        </label>

        <input
          type="text"
          id="name"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
          required
        />
      </div>

      <div class="w-1/2 relative">
        <label for="email" class="block text-xs font-medium text-gray-700"
          >Email</label
        >

        <input
          type="email"
          id="email"
          class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
          required
        />

        <span
          class="pointer-events-none absolute inset-y-0 end-0 grid w-10 place-content-center text-gray-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-4 w-4 top-[9px] relative"
          >
            <path
              fill-rule="evenodd"
              d="M5.404 14.596A6.5 6.5 0 1116.5 10a1.25 1.25 0 01-2.5 0 4 4 0 10-.571 2.06A2.75 2.75 0 0018 10a8 8 0 10-2.343 5.657.75.75 0 00-1.06-1.06 6.5 6.5 0 01-9.193 0zM10 7.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
      </div>
      <div>
        <button
          class="mt-5 inline-block rounded border border-transparent bg-blue-650 px-10 py-2 text-sm text-white hover:bg-transparent hover:bg-blue-800 hover:border-blue-800 hover:text-blue-800 focus:outline-none focus:ring active:text-blue-800"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
