---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { AstroSeo } from "@astrolib/seo"
import { SITE_TITLE, SITE_DESCRIPTION } from "../config"

export interface Props {
  title: string
  description?: string
}

const { title, description = SITE_DESCRIPTION } = Astro.props
const canonicalUrl = Astro.url.toString()

import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <AstroSeo
      title={title}
      description={description}
      canonical={canonicalUrl}
      openGraph={{
        url: canonicalUrl,
        title: title,
        description: description,
        site_name: SITE_TITLE,
        images: [],
      }}
    />
  </head>
  <body>
    <Header />
    <div class="mx-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>
