name: Build + Push
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Lint
        run: npm run textlint
      - uses: actions/upload-artifact@v3
        with:
          name: build
          path: dist
  push:
    needs: build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: "ddev/ddev.com-build"
          ref: main
          token: ${{ secrets.GH_PAT }}
      - uses: actions/download-artifact@v3
        with:
          name: build
          path: ./
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: main
          commit_message: ddev.com-front-end@${{ github.sha }}
      - name: Delete artifacts
        uses: jimschubert/delete-artifacts-action@v1
        with:
          artifact_name: build
          min_bytes: "0"
